/* Global reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}



.container {
    width: 80%;
    margin: auto;
}

.button{
	background-color: #333;
	color:#fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background: red;
	color:#fff;
}

.box-1 {
    background-color: #333333;
    color: white;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    
    /*    same as above*/
    border: 5px solid red;

    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;

    margin-top: 20px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family: Tahoma; /* Fixed typo and added fallback fonts */
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em; 
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 3px solid; #ccc;
    padding: 20px;
    border-radius: 15px;

}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	list-style: none;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px  #333;
}

.categories li::before {
    content: '';
    position: absolute;
    left: 0; /* Position the bullet image to the left of the text */
    top: 50%;
    transform: translateY(-50%); /* Center the image vertically */
    width: 10px; /* Width of the bullet image */
    height: 10px; /* Height of the bullet image */
/*    background: url('../images/check.png') no-repeat center center;*/
    background-size: contain; /* Ensure the image fits within the specified dimensions */
}

.myform{
	padding: 20px;
}

.myform .form-group{
	padding-bottom: 15px;
}

.myform label{
	display: block;
}

.myform input[type="text"], .myform textarea{
	padding: 8px;
	width: 100%;
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;

}

